@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Titillium+Web:wght@300&display=swap");

html,
body {
  background-color: #2f2f30;
  height: 100%;
  margin: 0px;
  padding: 50px;
  text-align: center;
  width: 100%;
}

.card-container {
  background-color: #0e0d0d;
  border-radius: 15px;
  box-shadow: 13px 13px 20px rgb(114, 7, 114), -10px -10px 15px rgb(21, 255, 0);
  display: inline-block;
  height: 450px;
  margin: 0px;
  padding: 30px;
  overflow: hidden;
  width: 270px;
}

.card-container .qr-container {
  background-color: #a9faf6;
  box-shadow: -10px -10px 15px rgb(114, 7, 114), 8px 8px 13px rgb(21, 255, 0);
  border-radius: 10px;
  padding: 30px;
}

.card-container .qr-container img {
  max-width: 100%;
}

h2 {
  color: #2c07fc;
  font-family: "Titillium Web", sans-serif;
}

h2:hover {
  color: rgb(254, 15, 162);
}

p {
  color: #eef205;
  font-family: "Chakra Petch", sans-serif;
}

p:hover {
  color: #04f3ef;
}

p + p {
  color: rgb(217, 251, 26);
  font-size: 17px;
  font-family: "Chakra Petch", sans-serif;
}

.pie-pagina:hover {
  filter: blur(1px);
}
